<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="University.Properties.Settings.UNEVERSITY_MDFConnectionString"
            connectionString="Data Source=.;Initial Catalog=UNEVERSITY.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>